<div id="pane">
    <table class="table table-striped" ng-controller="tableCtrl">
        <thead>
            <tr><th>Name</th><th>Address</th><th>Phone</th><th>Email</th><th>Jobs</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers">
                <td>{{customer.name}}</td>
                <td><p>{{customer.address.street}}</p><p>{{customer.address.city + ", " + customer.address.state + " " + customer.address.zip}}</p></td>
                <td>{{customer.phone}}</td>
                <td><a href="mailto:{{customer.email}}">{{customer.email}}</a></td>
                <td><p ng-repeat="job in customer.jobs"><a href="#">{{job.startTime.format("dd-m-yy hh:mm")}}</a></p> </td>
            </tr>
        </tbody>
    </table>
</div>